.links-container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.link {
    width: auto;
    height: 20px;
    padding: 10px;
    text-align: center;
    color:rgb(44, 43, 43);
    font: 15px Helvetica;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color:rgb(44, 43, 43);
}

a:hover {
    text-decoration: underline;
}

.search-container{
    display: flex;
    flex: 1;
    height: 100vh;
}

.search {
    margin: auto;
    width: 60vh;
    text-align: center;
    text-justify: center;
}

input[type=text] {
    width: 80%;
    padding: 1.3vh 4vh;
    border-radius: 30px;
    border: 1px solid rgb(154, 154, 154);
    margin-bottom: 2vh;
    background-image: url('searchicon.png');
    background-position: 11px 10px;
    background-size: 4%;
    background-repeat: no-repeat;
}

input[type=text]:focus, input[type=text]:hover {
    outline: none;
    box-shadow: 0px 0px 8px 2px rgba(184, 184, 184, 0.3);
}

input[type=submit] {
    padding: 1vh;
    border-style: none;
    background-color: #eeefef;
    border-radius: 4px;
    border: 1px solid transparent;
    color:rgb(44, 43, 43);
}


input[type=submit]:hover {
    cursor: pointer;
    box-shadow: 0px 2px 1px -1px rgba(184, 184, 184, 0.3);
    border: 1px solid #d0d1d4;
}